<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let All = document.getElementById("All");
        let al = document.getElementById("all");
        let New = document.getElementById("New");
        let ne = document.getElementById("new");
        New.classList.add("hide");
        al.classList.add("present");
        ne.classList.add("np");
        al.addEventListener("click", () => {
          All.classList.remove("hide");
          New.classList.add("hide");
          al.classList.add("present");
          ne.classList.add("np");
          al.classList.remove("np");
          ne.classList.remove("present");
        });
        ne.addEventListener("click", () => {
          New.classList.remove("hide");
          All.classList.add("hide");
          ne.classList.add("present");
          al.classList.add("np");
          ne.classList.remove("np");
          al.classList.remove("present");
        });
        const roleSelect = document.querySelector('select[name="role"]');
        const doctorFields = document.getElementById("doctor-fields");

        roleSelect.addEventListener("change", function () {
          if (this.value === "doctor") {
            doctorFields.style.display = "block";
          } else {
            doctorFields.style.display = "none";
          }
        });

        // trigger visibility on load (edit cases)
        if (roleSelect.value === "doctor") {
          doctorFields.style.display = "block";
        }
      });
      function togglePassword() {
        const passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
    </script>
  </head>
  <body>
    <div class="hd">
      <h1>Admin Dashboard</h1>
      <a href="{{ url_for('logout') }}">Logout</a>
      <a href="{{ url_for('reset_password')}}">Reset Password</a>
    </div>
    <div class="btn">
      <h2 id="all">All Users</h2>
      <h2 id="new">Add New User</h2>
    </div>
    <form method="POST" id="New">
      {{ form.hidden_tag() }}
      <p>{{ form.role.label }} {{ form.role() }}</p>
      <p>{{ form.name.label }} {{ form.name() }}</p>
      <p>{{ form.email.label }} {{ form.email() }}</p>
      <p>{{ form.username.label }} {{ form.username() }}</p>
      <p id="pass" style="position: relative">
        {{ form.password.label }} {{ form.password(id="password",
        class="password-input") }}
        <input type="checkbox" id="showPassword" onclick="togglePassword()" />
        <label for="showPassword" class="toggle-eye"></label>
      </p>
      <div id="doctor-fields" style="display: none">
        <p>
          <label for="shift">Shift:</label>
          <select name="shift" id="shift">
            <option value="Morning" selected>Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Night">Night</option>
          </select>
        </p>
        <p>
          <label for="specialization">Specialization:</label>
          <input type="text" name="specialization" id="specialization" />
        </p>
      </div>

      <p id="submit">{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if
    category.startswith('admin_') %}
    <p class="{{ category }}">{{ message }}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %}{% if users %}
    <div id="All">
      <table>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
          <td>{{ user[4] }}</td>
          <td>
            <a
              href="{{ url_for('admin_dashboard', delete_id=user[0]) }}"
              onclick="return confirm('Are you sure you want to delete this user?');"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No users found.</p>
      {% endif %}
      <div class="pagination">
        {% for p in range(1, total_pages + 1) %}
        <a
          href="{{ url_for('admin_dashboard', page=p) }}"
          class="{% if p == page %}active{% endif %}"
        >
          {{ p }}
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
