<!DOCTYPE html>
<html>
  <head>
    <title>Doctor Appointments</title>
  </head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/doctor.css') }}"
  /><link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/common.css') }}"
/>
  <body>
    <div class="container mt-5">
    <h2 style="color: black;">All Appointments for Doctor ID: {{ doctor_id }}</h2>
    <p>
      <a href="{{ url_for('doctor_dashboard') }}">← Back to Dashboard</a>
    </p>

    {% if appointments %}
    <table border="1">
      <thead>
        <tr>
          <th>Appointment ID</th>
          <th>Patient ID</th>
          <th>Appointment Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for appt in appointments %}
        <tr>
          <td>{{ appt[0] }}</td>
          <td>{{ appt[1] }}</td>
          <td>{{ appt[3] }}</td>
          <td>{{ appt[4] }}</td>
          <td>{{ appt[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No appointments found.</p>
    {% endif %}
    </div>
  </body>
</html>
