<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  
  </head>
  <body style="flex-direction: column;"><link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/common.css') }}"
  />
    <h2>Forgot Password</h2>
    <form method="POST">
      <label for="username"><h2 style="font-size: 18px;">Enter your registered username:</h2></label>
      <input type="username" name="username" required /><br /><br />

      <button type="submit" id="btn1" style="transform: scale(0.65);margin-top: -15px;">Send OTP</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if
    category.startswith('forgot_') %}
    <p class="{{ category }}">{{ message }}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
