<!DOCTYPE html>
<html>
<head>
  <title>Verify OTP</title><link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/common.css') }}"
/>
</head>
<body style="flex-direction: column;">
  <h2>OTP Verification</h2>
  <form method="POST">
    <label for="otp">Enter OTP sent to your email:</label>
    <input type="text" name="otp" maxlength="6" required><br><br>
    
    <button type="submit" id="btn1" style="transform: scale(0.65);margin-top: -15px;">Verify OTP</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if
    category.startswith('otp_') %}
    <p class="{{ category }}">{{ message }}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</body>
</html>
